## Estimation And Confidence Intervals

**Background**

In quality control processes, especially when dealing with high-value items, destructive sampling is a necessary but costly method to ensure product quality. The test to determine whether an item meets the quality standards destroys the item, leading to the requirement of small sample sizes due to cost constraints.


**Scenario**

A manufacturer of print-heads for personal computers is interested in estimating the mean durability of their print-heads in terms of the number of characters printed before failure. To assess this, the manufacturer conducts a study on a small sample of print-heads due to the destructive nature of the testing process.


**Data**

A total of 15 print-heads were randomly selected and tested until failure. The durability of each print-head (in millions of characters) was recorded as follows:

1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29

### Assignment Tasks

**a. Build 99% Confidence Interval Using Sample Standard Deviation**

Assuming the sample is representative of the population, construct a 99% confidence interval for the mean number of characters printed before the print-head fails using the sample standard deviation. Explain the steps you take and the rationale behind using the t-distribution for this task.

In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [2]:
#Creating a new dataframe.
print_heads_data = pd.DataFrame(['1.13', '1.55', '1.43', '0.92', '1.25', '1.36', '1.32', '0.85', '1.07', '1.48', '1.20', '1.33', '1.18', '1.22', '1.29'])
print_heads_data

       0
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [3]:
#Giving the column name as 'X'
print_heads_data.columns = ['X']

In [4]:
print_heads_data

       X
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [7]:
#Checking the datatype of our variables.
print_heads_data.dtypes

X    object
dtype: object

In [8]:
#Converting my X object datatype object into numeric.
print_heads_data['X'] = pd.to_numeric(print_heads_data['X'])

In [9]:
print_heads_data.dtypes # Now our variable converted into numeric datatype.

X    float64
dtype: object

##### Inference:
Type casting: Conversion of one datatype into another datatype is called type casting

In [12]:
#Building 99% Confidence Interval Using Sample Standard Deviation
ci = stats.norm.interval(0.99,
loc = print_heads_data['X'].mean(),
scale = print_heads_data['X'].std())
print( 'The 99% confidence interval is:', np.round(ci, 4))

The 99% confidence interval is: [0.7411 1.7362]

#### b. Build 99% Confidence Interval Using Known Population Standard Deviation
If it were known that the population standard deviation is 0.2 million characters, construct a 99% confidence interval for the mean number of characters printed before failure.

In [16]:
print_heads_data

       X
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [17]:
print_heads_data.dtypes

X    float64
dtype: object

In [19]:
#Build 99% Confidence Interval Using Known Population Standard Deviation
ci = stats.norm.interval(0.99,
loc = print_heads_data['X'].mean(),
scale = 0.2)
print( 'The 99% confidence interval is:', np.round(ci, 4))

The 99% confidence interval is: [0.7235 1.7538]